<ion-view view-title="Easy-Drugs - Home">
    <ion-content>

        <button style="font-size:50px; color: white; width:60%; height: 200px; margin: 50px auto; background-color: slategrey;"
                ng-click="clickBarcodeScanButton()" class="button button-full">
            Scan a bar code
        </button>

        <button style="font-size:50px; color: white; width:60%; height: 200px; margin: 50px auto; background-color: grey;"
                ng-click="clickTextboxScanButton()" class="button button-full">
            Scan a drug box
        </button>

    </ion-content>
</ion-view>
