<ion-view view-title="Easy-Drugs - TextBox Scan">
  <ion-content>

    <p style="padding:20px;font-size:18px; text-align:justify; margin-top:20px;">

      qlsufh lqzhqzhgmqo hg mqzihg qlzh mqzhgmqo hg qlirghm qsorighmqrugh qmsrgh  :ugkug k:g
    </p>

    <ul class="list inset">
      <button class="button button-full button-stable" ng-click="takePhoto()"> Take Photo</button>
      <button class="button button-full button-stable" ng-click="choosePhoto()"> Choose Photo</button>
      <br>
    </ul>


  </ion-content>
</ion-view>
